gunicorn==20.1.0
pyrofork
aiohttp
motor
tgcrypto
aiofiles
requests
hachoir
cloudscraper
pycryptodome
pytz
certifi
charset-normalizer
idna
lz4
numpy
oauthlib
openpyxl
pandas
python-dateutil
python-dotenv
six
SQLAlchemy
typing_extensions
tzdata
urllib3
bs4
flask
pyromod
